/* Checkbox variables */
:root {
  --checkbox-size: 24px;
  --checkbox-padding: 4px;
  --checkbox-icon-size: 14px;
  --checkbox-border-color: var(--wbtr-color-primary);
  --checkbox-background-color: var(--wbtr-color-primary);
  --checkbox-hover-border-color: var(--wbtr-color-primary-hover);
  --checkbox-hover-background-color: var(--wbtr-color-primary-hover);
  --checkbox-checked-border-color: var(--wbtr-color-primary);
  --checkbox-checked-background-color: var(--wbtr-color-primary);
  --checkbox-checked-icon-color: var(--wbtr-color-primary);
  --checkbox-focus-border-color: var(--wbtr-color-primary);
  --checkbox-disabled-color: var(--color-grey-200);
  --checkbox-disabled-border-color: var(--color-grey-200);

  --input-radius: 8px;
  --input-padding: 16px;
  --input-height: 50px;
  --input-border-color: var(--color-grey-200);
  --input-background-color: var(--color-grey-50);
  --input-text-color: var(--color-grey-500);
  --input-font-size: var(--text-18);

  --form-error-color: var(--wbtr-color-danger);
  --form-success-color: var(--wbtr-color-success);
}

/* Checkbox mixin */
@utility checkbox-styles {
  display: grid;
  appearance: none;
  width: var(--checkbox-size);
  height: var(--checkbox-size);
  min-width: var(--checkbox-size);
  max-width: var(--checkbox-size);
  margin: 0;
  padding: var(--checkbox-padding);
  cursor: pointer;
  place-content: center;
  color: currentColor;
  border: 1px solid var(--checkbox-border-color);
  background-color: var(--checkbox-background-color);
  border-radius: 4px;

  &:hover {
    border-color: var(--checkbox-hover-border-color);
    background-color: var(--checkbox-hover-background-color);
  }

  &:checked {
    background-color: var(--checkbox-checked-background-color);
    background-position: center;
    background-size: var(--checkbox-icon-size);
    background-repeat: no-repeat;
    background-image: url('data:image/svg+xml;base64, PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGw9Im5vbmUiIHZpZXdCb3g9IjAgMCAxNyAxMyI+PHJlY3Qgd2lkdGg9IjIuNSIgaGVpZ2h0PSI5LjI1IiB5PSI1LjcwNiIgZmlsbD0iI0ZGQzdEMiIgcng9IjEuMjUiIHRyYW5zZm9ybT0icm90YXRlKC00NSAwIDUuNzA2KSIvPjxyZWN0IHdpZHRoPSIyLjUiIGhlaWdodD0iMTMuNzUiIHg9IjE0LjQ5NiIgeT0iLjc1NiIgZmlsbD0iI0ZGQzdEMiIgcng9IjEuMjUiIHRyYW5zZm9ybT0icm90YXRlKDQ1IDE0LjQ5NiAuNzU2KSIvPjwvc3ZnPgo=');
    border-color: var(--checkbox-checked-border-color);
  }

  &:focus {
    outline: 1px solid var(--checkbox-focus-border-color);
    outline-offset: max(1px, 0.15em);
  }

  &:disabled {
    color: var(--checkbox-disabled-color);
    border-color: var(--checkbox-disabled-border-color);
    background-color: transparent;
    cursor: not-allowed;
  }
}

.gform_wrapper {
  width: 100%;
  align-self: center;

  .gform_heading {
    display: none;
  }

  .gform_validation_errors,
  .gform_submission_error {
    outline: none;
    border: none;
  }

  form[id^='gform_'] {
    .gform_fields {
      row-gap: 8px;
    }

    .gfield_required {
      margin-left: 4px;
    }

    .gfield_description,
    .gfield_html {
      padding-top: 0;
      font-size: var(--text-16);
      color: var(--color-grey-300);
    }

    .gfield_label,
    .gform-field-label {
      color: var(--color-grey-500);
      font-weight: 500;
      margin-bottom: 4px;
    }

    .ginput_complex {
      display: flex;
      margin: 0 -15px;
      width: auto;
    }

    .gform-grid-col {
      flex: 1;
      padding: 0 15px;
    }

    .ginput_container {
      position: relative;
      display: flex;

      .ginput_container_date,
      .ginput_container_select {
        position: relative;

        &:before {
          content: '';
          display: block;
          position: absolute;
          pointer-events: none;
          right: 16px;
          top: 50%;
          z-index: 1;
          transform: translate(0, -50%);
          width: 14px;
          height: 14px;
          background-color: var(--color-grey-500);
          mask-size: contain;
          mask-repeat: no-repeat;
          mask-position: center;
        }
      }

      .ginput_container_fileupload,
      .ginput_container_textarea {
        display: flex;
        flex-direction: column;
        gap: 4px;
      }

      .ginput_container_date:before {
        mask-image: url('../../images/svg/calendar.svg');
      }

      .ginput_container_select:before {
        mask-image: url('../../images/svg/caret-down.svg');
      }

      .gchoice {
        display: flex;
      }
    }

    .gfield_error {
      background-color: transparent;
      border: 0;
    }

    .gfield_validation_message {
      margin-top: 4px;
      color: var(--form-error-color);
    }

    .gfield--type-consent,
    .gfield_checkbox {
      .gform-field-label:not(legend) {
        margin-left: 8px;
        cursor: pointer;
      }

      input[type='checkbox'] {
        @apply checkbox-styles;
      }
    }

    .gfield {
      margin-top: 16px;

      input:not(.gfield-choice-input):not([type='checkbox']):not(
          [type='radio']
        ):not([type='submit']):not([type='button']):not([type='image']):not(
          [type='file']
        ),
      textarea,
      select {
        appearance: none;
        background: var(--input-background-color);
        border-radius: var(--input-radius);
        color: var(--input-text-color);
        line-height: 1.2;
        max-width: 100%;
        outline: 0;
        padding: var(--input-padding);
        position: relative;
        transition:
          background 0.2s,
          border 0.2s,
          box-shadow 0.2s,
          color 0.2s;
        width: 100%;
        height: var(--input-height);
        border: 1px solid var(--input-border-color);
        font-size: var(--input-font-size);

        &::placeholder,
        .gf_placeholder {
          color: var(--color-grey-300);
        }
      }

      textarea {
        height: auto;
      }

      input[type='file'] {
        border: none;
        padding: 0;
      }

      select {
        cursor: pointer;
        display: block;
      }

      .datepicker {
        cursor: pointer;
      }
    }

    .gform_footer {
      margin-top: 20px;
      display: flex;
      justify-content: center;

      @media (min-width: 768px) {
        margin-top: 36px;
      }

      input[type='submit'].gform_button.button {
        background-color: var(--wbtr-color-primary);
        font-size: var(--text-16);
        color: var(--color-grey-50);
        padding: 16px 32px;
        border-radius: 8px;
        text-transform: uppercase;

        &:hover {
          background-color: var(--wbtr-color-primary-hover);
        }
      }
    }
  }

  .gform_confirmation_message {
    color: var(--form-success-color);
  }

  .gfield_required > span,
  .gfield_description.validation_message,
  .gform_submission_error,
  .gform_validation_errors .gform-icon {
    color: var(--form-error-color);
  }

  .gform_validation_errors,
  .gform_validation_errors .gform-icon {
    background-color: transparent;
    border-color: var(--form-error-color);
  }

  .gfield_visibility_hidden {
    left: -9999px;
    position: absolute;
    visibility: hidden;
  }

  .hidden_label .gfield_label,
  .hidden_sub_label,
  .screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;
  }

  .gform-loader {
    align-self: center;
    animation: gformLoader 1.1s infinite linear;
    block-size: 10em;
    border-block-end: 1.1em solid var(--form-loader-color);
    border-block-start: 1.1em solid #fff;
    border-inline-end: 1.1em solid #fff;
    border-inline-start: 1.1em solid var(--form-loader-color);
    border-radius: 50%;
    display: inline-block;
    font-size: 2px;
    inline-size: 10em;
    position: relative;
    transform: translateZ(0);
  }
}

/* Form controls */
.form-control {
  display: grid;
  align-items: center;
  gap: 8px;
  grid-template-columns: var(--checkbox-size) auto;
  cursor: pointer;

  &.is-disabled {
    color: var(--color-grey-200);
    cursor: not-allowed;
  }

  input[type='checkbox'] {
    @apply checkbox-styles;
  }
}

@keyframes gformLoader {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
