/* Icon Picker in admin */
.icon-picker-preview svg {
  max-height: 100%;
  max-width: 100%;
  height: auto;
  width: 100%;
  object-fit: contain;
}

/* Icon on frontend */
.e-svg-icon {
  max-height: 100%;
  max-width: 100%;
  height: auto;
  width: 100%;
  object-fit: contain;
}
